.container {
	padding-left: 40px;
	padding-right: 40px;
	background-color: #ffffff;
	color: #000000;
	text-align: left;
	margin: auto;
}
body {
	background-color: #D3D3D3;
}
a {
	color: #829ECE;
}

input {
	color: #000000;
}

table {
	width: 100%;
}

td, th {
	padding: 5px 10px;
}

#cmds, #features {
	margin-bottom:30px;
}

button {
    background-color: rgba(31, 73, 125, 0.8);
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 80%;
    height: 25px;
}


h1 {
	padding-bottom: 40px;
	padding-top: 10px
}

@media only screen and (min-width: 600px) {
	form {
		max-width:300px;
	}
	button {
		max-width:100px;
	}
	.container {
		width: 75%;
		box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
	}
}

@media only screen and (max-width: 600px) {
	.container {
		padding-left:30px;
		padding-right:30px;
	}
}
